In [1]:
# 매개변수와 반환값이 없는 함수
def hello():
  print("Hello Python")

hello()

Hello Python

In [3]:
# 매개변수만 있는 함수
def hello(string):
  print("Hello", string)

hello("정우")

Hello 정우

In [4]:
# 반환 값만 있는 함수
def hello():
  return "Hello Python"

hello()

'Hello Python'

In [5]:
# 매개변수와 반환값이 있는 함수
def square(num):
  return num * num

square(5)

25

In [9]:
# 매개변수가 여러개 있는 함수
def add(n1, n2):
  return n1 + n2

print(add(n2 = 5, n1 = 8))

13

In [10]:
# 키워드 매개변수
def add(n1, n2):
  return n1 + n2

print(add(n2 = 5, n1 = 8))

13

In [11]:
# 가변 매개변수: 매개변수가 몇 개인지 모를 때 사용
def sum(*args):
  result = 0
  for i in args:
    result += i
  return result

print(sum(1, 2, 3, 4, 5))

15

In [13]:
# 키워드 매개변수 keyword, arguments
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(n1 = 5, n2 = 8)
print_kwargs(id = "Jungwoo", pw = "1234")
# 딕셔너리 형태로 반환

{'n1': 5, 'n2': 8}
{'id': 'Jungwoo', 'pw': '1234'}

In [15]:
# 초기값 매개변수(default parameter): 매개변수에 초기값을 설정해 사용
def power(b = 2, n = 2):
  return pow(b, n)

print(power())
print(power(3))    # b만 3으로 대체
print(power(5, 2))    # 5의 2제곱
print(power(n = 3))    # n만 3으로

4
9
25
8

In [17]:
# 여러 반환 값이 있는 함수
def plus_and_minus(n1, n2):
  return n1+n2, n1-n2

result = plus_and_minus(8, 5)
print(result)    # 한번에 받아오면 튜플 형태

result1, result2 = plus_and_minus(8, 5)
print(result1, result2)    # 나눠서 받아옴

(13, 3)
13 3

In [18]:
def calc(op, n1, n2):
  result = 0
  if op == '+':
    result = n1 + n2
  elif op == '-':
    result = n1 - n2
  elif op == '*':
    result = n1 * n2
  elif op == '/':
    result = n1 / n2

  return result

print(calc('+', 8, 5))
print(calc('*', 8, 5))

13
40

In [21]:
def mean(*args):  
  sum = 0
  for i in args:
    sum += i
  return sum / len(args)

mean(1, 7, 5, 8)

5.25

In [22]:
def avg(*args):
  sum = 0
  for i in args:
    sum += i
  return (sum / len(args))

print(avg(1, 2, 3, 4, 5))

3.0

In [23]:
# 변수의 유효범위 (지역변수, 전역변수)

def var_scope(a):
  a = a + 1

a = 10
var_scope(a)
print(a)

10

In [28]:
a = 10
def func1():
  a = 20    # 지역변수
  print(a)

def func2():
  print(a)    # a = 10 이라는 전역 변수 출력

func1()
func2()

20
10

In [29]:
a = 10
def func1():
  global a    # 함수 내부에서 전역 변수 사용하기 위한 global 키워드
  a = 20    
  print(a)

def func2():
  print(a)    # a = 10 이라는 전역 변수 출력

func1()
func2()

20
20

In [31]:
# 내부 함수 (Nested Function): 함수 안에 함수가 존재, 내부 함수는 외부에서 호출 불가
def func1(n1, n2):
  def func2(num1, num2):
    return num1 + num2
  return func2(n1, n2)

print(func1(5, 8))
# print(func2(5, 8))    외부에서 호출 불가해 에러 발생

13

In [32]:
# 재귀 함수 (Recursive Function): 함수가 자기 자신을 다시 부르는 함수
def count(n):
  if n >= 1:
    print(n, end = ' ')
    count(n - 1)
  else:
    return    # 종료

count(10)

10 9 8 7 6 5 4 3 2 1

In [33]:
def sum(n):
  if n == 1:
    return 1
  else:
    return n + sum(n - 1)
  
print(sum(10))

55

In [38]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n - 1)

print(factorial(3))

6

In [39]:
# 람다 함수

add = lambda n1, n2 : n1 + n2    # n1, n2를 매개 변수로 받고 n1 + n2를 return으로 받음
print(add(5, 8))

13

In [40]:
# map (): built-in 함수로 iterable한 데이터를 인자로 받아 list 안의 개별 item을 함수 인자로 전달해 결과를 list로 반환

li = [1, 2, 3, 4, 5]
square = lambda n : n * n
li = list(map(square, li))    

print(li)

[1, 4, 9, 16, 25]

In [41]:
li_1 = [1, 2, 3, 4, 5]
li_2 = [6, 7, 8, 9, 10]
li = list(map(lambda n_1, n_2 : n_1 + n_2, li_1, li_2))
print(li)

[7, 9, 11, 13, 15]

In [44]:
# filter(): iterable을 인자로 개별 item을 특정 조건에 해당하는 값으로만 필터링
li = list(range(10))
print(li)
evens = filter(lambda n : n%2 == 0, li)
print(list(evens))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [51]:
# reduce(): iterable을 인자로 개별 item을 축약해 하나의 값으로 만들어 가는 과정
import functools
li = list(range(11))
sum = functools.reduce(lambda x, y: x + y, li)
print(sum)
len = functools.reduce(lambda x, y: x + 1, li, 0)
print(len)
max = functools.reduce(lambda x, y: x if x > y else y, li)
print(max)

55
11
10

In [53]:
# generator와 yield(함수를 끝내지 않고 반환)
def gen():
  yield 1
  yield 2
  yield 3

print(gen())
print(list(gen()))

<generator object gen at 0x7fa671098cd0>
[1, 2, 3]

In [54]:
for i in gen():
  print(i)

1
2
3

In [57]:
g = gen()
print(next(g))
print(next(g))
print(next(g))

1
2
3

In [58]:
def gen_even(n):
  for i in range(n):
    if i % 2 == 0:
      yield i

for i in gen_even(10):
  print(i)    # 짝수만 yield

0
2
4
6
8